<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Confirmation</title>
  <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
<nav>
  <a href="/upload">Upload</a>
  <a href="/files">My Files</a>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
</nav>


<h1>Share-It</h1>
    <p>{{status}}</p>
    <p>{{username}}</p>
    <p>{{password}}</p>
<div class="success" id="successMsg"></div>
<div class="error" id="errorMsg"></div>
<script src="./static/main.js"></script>
</body>
</html>
