<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Upload File</title>
  <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
<nav>
  <a href="/upload">Upload</a>
  <a href="/files">My Files</a>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
</nav>



<h1>Upload a File</h1>
<form id="uploadForm" enctype="multipart/form-data" action="/upload_data" method="POST">
  <input type="file" name="file" required>
  <button type="submit">Upload</button>
</form>
<div class="success" id="successMsg"></div>
<div class="error" id="errorMsg"></div>
<script src="./static/upload.js"></script>
</body>
</html>
